<div class="card shadow mb-4">
  <div class="card-header py-3">
    <% if(criterias.length !=0) { %>
    <a
      id="add"
      href="/supplier/form"
      class="modal-open btn btn-primary btn-round"
      type="submit"
      data-placement="bottom"
      title="Tambah Data"
    >
      <i class="fas fa-plus"></i> Tambah
    </a>
    <% } else { %> Tambah Data Criteria Terlebih Dahulu <% } %>
  </div>
  <div class="card-body">
    <table class="table table-bordered" id="dataTable" url="/supplier/table" width="100%" cellspacing="0"></table>

    <% const toastSuccess=messages.success %> <% const toastError=messages.error %>
  </div>
</div>

<ul>
  KETERANGAN
  <li>Sangat Buruk : 1</li>
  <li>Buruk : 2</li>
  <li>Sedang : 3</li>
  <li>Baik : 4</li>
  <li>Sangat Baik : 5</li>
</ul>

<script>
  $(document).ready(function () {
    const toastSuccess = '<%= toastSuccess %>';
    const toastError = '<%= toastError %>';
    toastSuccess != '' && notification('success', toastSuccess);
    toastError != '' && notification('error', toastError);
  });
</script>
